<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../static/css/fontawesome.css">
    <link rel="stylesheet" href="../static/css/templatemo-grad-school.css">
    <link rel="stylesheet" href="../static/css/owl.css">
    <link rel="stylesheet" href="../static/css/lightbox.css">
    
    <header class="main-header clearfix custom-bg" role="header">
    
      <div class="logo">
        <a href="/">
        <a href="/"><em>Acad</em>Ease</a>
        </a>
      </div>
      <a href="/" class="menu-link"><i class="fa fa-bars"></i></a>
      <nav id="menu" class="main-nav" role="navigation">
        <ul class="main-menu">
          <li><a href="/">Back to Home</a></li>
          </ul>
      </nav>

</head>
</header>
   <body class="bg-light">
    

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="py-5 px-4 rounded-4 border border-primary shadow-lg bg-white">
            <div class="sketchfab-embed-wrapper px-3">
                <iframe title="Walchand College of Engineering Sangli 3D model"
                    frameborder="0" allowfullscreen mozallowfullscreen="true"
                    webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking"
                    width="1000" height="600"
                    src="https://sketchfab.com/models/12f7a89af62145839b39b2b6cb6984fd/embed">
                </iframe>
                <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
                    <a href="https://sketchfab.com/3d-models/walchand-college-of-engineering-sangli-3d-model-12f7a89af62145839b39b2b6cb6984fd"
                        target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;">
                        Walchand College of Engineering Sangli 3D model.
                    </a>
                    <a href="https://sketchfab.com"
                        target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;">
                        Sketchfab
                    </a>
                </p>
            </div>
        </div>
    </div>
</body>

</html>